APP_PORT=8000
LOG_LEVEL=INFO
LOG_JSON=false

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=resume
POSTGRES_PASSWORD=change-me
POSTGRES_DB=resume_classifier

MLFLOW_PORT=5050
MLFLOW_DB_PASSWORD=change-me
